.container{
max-width: 400px;
max-height: auto;
margin: 0 auto;
margin-top: 50px;
background-color: #f7c98f;
box-shadow: 0 0 10px gray;
padding: 15px 50px;

}


.text-align{

    text-align: center;
}

.expense-container{

    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 0 10px gray;
}

.transaction-form input{
    margin:10px;
    width: 100%;
    padding: 4px;


}

.transaction-list {
    background-color: white;
    padding: 0;
    margin: 0;
}
.transaction-list>li{
display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    box-shadow: 0 0 10px gray;
    margin: 5px 0;
    
}

.heading{

    justify-content: space-between;
    display: flex;
}

.styleAccount{

    padding : 20px;
    display : flex;
    margin : 20px 0;
    justify-content: space-around;
}

.submitbtn{
    width: 100%;
}